body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.cabecalho {
    background-color: #bd6600;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
  }
  
  .imagem-cabecalho {
    width: 4%;
  }
  
  .item-lista-cabecalho {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
  }

  .image.inicio {
    width: 25%;
  }

  #inicio {
    background-image: linear-gradient(#bd6600, #ffffff);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }
  
  div-inicio {
    width: 35%
  }

  titulo-inicio {
    padding: 24px 0;
  }

  .imagem-estuantes{ 
    Width: 120px;
  }

  .imagem-icone{
    width: 24px;
  }

  .div-estudantes{
    text-align: center;
    padding: 16px 0;
  }